<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name="com.zhaojun.feature.login_debug.LoginDebugApp"
        tools:replace="android:label"
        android:theme="@style/Theme.FirstAiAndroid"
        android:icon="@mipmap/ic_launcher"
        android:label="登录模块APP">

        <activity
            android:name="com.zhaojun.feature.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>