<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="true">
        <activity
            android:name=".HomeActivity"
            android:exported="true" />
        <activity
            android:name=".DiaryUploadActivity"
            android:exported="false" />
    </application>
</manifest>